body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.navbar-inverse {
  background-color: #837d3c;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
.navbar-inverse .navbar-nav>li>a {
  color: #cfcca3
}